<template>
  <div class="">
      <v-navigation-drawer
      v-model="drawer"
      fixed
      app
    >
      <v-list dense>
        <v-list-tile>
          <v-list-tile-action>
            <v-icon>note_add</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Create</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="white" white fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>/Documents/</v-toolbar-title>
    </v-toolbar>
    <List />
    <Uploader />
    <v-footer color="" app>
      <span class="black--text"></span>
    </v-footer>
  </div>
</template>

<script>
import List from './partials/List.vue'
import Uploader from './partials/Uploader.vue'

export default {
  name: 'Home',
  components: { List, Uploader },
  data: () => ({
    drawer: null
  }),
  props: {
    msg: String,
    source: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
