<template>
  <v-layout row>
    <v-flex xs12 sm12>
        <v-list two-line subheader>
          <v-subheader inset>Folders</v-subheader>
          <v-list-tile
            v-for="item in items"
            :key="item.title"
            avatar
          >
            <v-list-tile-avatar>
              <v-icon :class="[item.iconClass]">{{ item.icon }}</v-icon>
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
            </v-list-tile-content>

            <v-list-tile-action>
              <v-btn icon ripple>
                <v-icon color="grey lighten-1">delete</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider inset></v-divider>
          <v-subheader inset>Files</v-subheader>
          <v-list-tile
            v-for="item in items2"
            :key="item.title"
            avatar
          >
            <v-list-tile-avatar>
              <v-icon :class="[item.iconClass]">{{ item.icon }}</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn icon ripple>
                <v-icon color="grey lighten-1">delete</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
    </v-flex>
  </v-layout>
</template>

<script>

export default {

  name: 'List',
  data: () => ({
    items: [
      { icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'Photos', subtitle: 'Oct 9, 2018' },
      { icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'Incognito', subtitle: 'Oct 17, 2018' },
      { icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'PDFs', subtitle: 'Oct 28, 2018' }
    ],
    items2: [
      { icon: 'assignment', iconClass: 'blue white--text', title: 'Scanned Id', subtitle: 'Oct 20, 2018' },
      { icon: 'call_to_action', iconClass: 'amber white--text', title: 'Payroll Slip', subtitle: 'Oct 10, 2018' }
    ]
  }),
  props: {
  }
}
</script>
