<template>
  <v-layout row>
    <v-flex >
      <vue-dropzone
        ref="dropzone"
        id="saffronDrop"
        :options="dropOptions"
        @vdropzone-complete="afterComplete"
        :useCustomSlot=true
      >
      <div class="dropzone-custom-content">
        <h3 class="dropzone-custom-title">Drag and drop to upload content!</h3>
        <div class="subtitle">...or click to select a file from your computer</div>
      </div>
      </vue-dropzone>
    </v-flex>
  </v-layout>
</template>

<script>
import vueDropzone from 'vue2-dropzone'

export default {

  name: 'Uploader',
  components: { vueDropzone },
  data: () => ({
    dropOptions: {
      url: 'https://httpbin.org/post',
      // maxFilesize: 2, // MB
      // maxFiles: 4,
      // chunking: true,
      // chunkSize: 500, // Bytes
      thumbnailWidth: 150, // px
      thumbnailHeight: 150,
      addRemoveLinks: true
    }
  }),
  props: {
  },
  methods: {
    afterComplete (file) {
      console.log(file)
    },
    removeAllFiles () {
      this.$refs.dropzone.removeAllFiles()
    }
  }
}
</script>

<style scoped lang="scss">
.dropzone-custom-content {
  padding: 50px 0;
  text-align: center;
  border: 2px dashed #eee;
  &:hover {
    border-color:#aaa;
  }
}

.dropzone-custom-title {
  margin-top: 0;
  color: #00b782;
}

</style>
