<template>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
          <Home msg="Welcome to Your Vue.js App"/>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import Home from './components/Home.vue'

export default {
  name: 'app',
  components: {
    Home
  }
}
</script>

<style lang="scss">
#app {

}
</style>
